In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("player-6607011.csv")

/var/folders/70/q89cls2j7835xgqtfjz6hw240000gn/T/ipykernel_13239/105602529.py:1: DtypeWarning: Columns (38,39,40,68,70,72,73,74,76,77,78,81,131) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("player-6607011.csv")

In [8]:
cols=['skill_level_know','skill_level_priority',"skill_level_refusal","skill_level_me","skill_level_people","event_time_dbl","event_id"]
df=df[cols]

In [ ]:
df=df.fillna(method="ffill")

In [ ]:
df["skill_level_refusal"]

In [ ]:
df['skill_level_people'].unique()

In [ ]:
fig,ax=plt.subplots(figsize=(12,8))
sns.lineplot(x="event_time_dbl", y="skill_level_refusal",
             data=df)
sns.lineplot(x="event_time_dbl", y="skill_level_me",
             data=df)
sns.lineplot(x="event_time_dbl", y="skill_level_priority",
             data=df)
sns.lineplot(x="event_time_dbl", y="skill_level_people",
             data=df)
sns.lineplot(x="event_time_dbl", y="skill_level_know",
             data=df)

In [ ]:
plt.savefig("player-6486029.png")

In [5]:
df

,row_id,player_id,school,wave,session,date,event_id,event_description,event_category,event_time,...,piece2_id,piece3_id,opponent_point_loss,player_points,opponent_points,old_rating,new_rating,priority_type_that_went_to_zero,epilogue_item_id,item_locked_unlocked_state
0,1917642,6607011,7167,Spring 2014~ Wave 1,Session 1,2014-02-06,600,Player selects age,Avatar Creation,1M 13S,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1917643,6607011,7167,Spring 2014~ Wave 1,Session 1,2014-02-06,601,Player selects gender,Avatar Creation,1M 14S,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1917644,6607011,7167,Spring 2014~ Wave 1,Session 1,2014-02-06,602,Player commits to age and gender,Avatar Creation,1M 15S,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1917645,6607011,7167,Spring 2014~ Wave 1,Session 1,2014-02-06,603,Player selects avatar,Avatar Creation,1M 19S,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1917646,6607011,7167,Spring 2014~ Wave 1,Session 1,2014-02-06,604,Player commits to avatar and name,Avatar Creation,1M 34S,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10296,1927938,6607011,7167,Spring 2014~ Wave 1,Session 9,2014-04-03,105,Player confirms entering the Epilogue,Lifeline,7H 2M 16S,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10297,1927939,6607011,7167,Spring 2014~ Wave 1,Session 9,2014-04-03,703,Player sees Epilogue panel,Epilogue,7H 2M 18S,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10298,1927940,6607011,7167,Spring 2014~ Wave 1,Session 9,2014-04-03,1,Player ends session,General,7H 2M 20S,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10299,1927941,6607011,7167,Spring 2014~ Wave 1,Session 9,2014-04-03,706,Player pans epilogue,Epilogue,7H 2M 20S,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10300,1927942,6607011,7167,Spring 2014~ Wave 1,Session 9,2014-04-03,708,Player hits done button,Epilogue,7H 2M 20S,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df2= df[df["event_id"]==200]

In [10]:
df2

,skill_level_know,skill_level_priority,skill_level_refusal,skill_level_me,skill_level_people,event_time_dbl,event_id
354,0.0,0.0,0.0,6.0,0.0,1246,200
809,0.0,2.0,0.0,6.0,3.0,2353,200
1255,0.0,2.0,0.0,6.0,3.0,3354,200
1696,2.0,2.0,0.0,6.0,3.0,4785,200
1910,2.0,2.0,0.0,6.0,3.0,5618,200
2388,3.0,2.0,0.0,6.0,3.0,6906,200
2599,3.0,3.0,0.0,6.0,3.0,7466,200
3070,3.0,3.0,0.0,6.0,6.0,8429,200
3623,3.0,3.0,3.0,9.0,6.0,9914,200
3685,3.0,3.0,3.0,9.0,6.0,10092,200
4046,3.0,9.0,3.0,9.0,6.0,11046,200
5254,8.0,9.0,3.0,9.0,6.0,13631,200
5258,8.0,9.0,3.0,9.0,6.0,13637,200
5660,8.0,9.0,3.0,9.0,8.0,14296,200
6203,8.0,9.0,9.0,12.0,8.0,15846,200
6213,8.0,9.0,9.0,12.0,8.0,15855,200
6458,8.0,9.0,9.0,12.0,8.0,16482,200
7132,8.0,15.0,9.0,12.0,8.0,17976,200
7583,8.0,15.0,12.0,18.0,8.0,19203,200
7604,8.0,15.0,12.0,18.0,8.0,19247,200
8763,8.0,15.0,12.0,18.0,14.0,21535,200
9413,16.0,15.0,12.0,18.0,14.0,22793,200
10103,16.0,15.0,21.0,27.0,14.0,24926,200